<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
      <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
    </customHeaders>
  </httpProtocol>

</configuration>